# {{ ansible_managed }}

{% if item.ssh_keys is defined and item.ssh_keys is iterable %}
# from humans dictionary
{% for key in item.ssh_keys %}
{% if key.state == 'present' %}
{{ key.keytype }} {{ key.pubkey }} {{ key.comment }}
{% endif %}
{% endfor %}
{% endif %}
