Host {{ inventory_hostname_short }} {{ inventory_hostname_short }}.{{ datacenter }} {{ inventory_hostname_short }}.{{ environment }}.{{ datacenter }} {{ inventory_hostname_short }}.{{ domain }}
     HostName                    {{ ansible_host }}
     port                        {{ ansible_port }}
