
Host    {{ inventory_hostname_short }} {{ inventory_hostname_short }}.{{ datacenter }}
## Host {{ inventory_hostname_short }}.{{ domain }}
        HostName                    {{ ansible_host }}
        port                        {{ ansible_port }}
        User                        {{ ansible_user }}
        PreferredAuthentications    {{ ssh_preferredauthentications }}
        ForwardAgent                {{ ssh_forwardagent }}
{% if ssh_proxy_use %}
        ProxyJump                   {{ ssh_proxy }}
{% endif %}

