{% if ssh_hostkeys is defined and ssh_hostkeys is iterable %}
# {{ inventory_hostname_short }} {{ inventory_hostname }} {{ inventory_hostname_short }}.{{ domain }}
{% for hostkey in ssh_hostkeys | sort %}
{{ hostkey }}
{% endfor %}

{% endif %}

