# {{ ansible_managed }}

{% if nginx_modules_enabled is iterable %}include /etc/nginx/modules-enabled/*.conf;
{% endif %}

user                            {{ nginx_user }};

worker_priority                 {{ nginx_worker_priority }};
worker_processes                {{ nginx_worker_processes }}; 
worker_rlimit_nofile            {{ nginx_worker_rlimit_nofile }};

events {
  multi_accept                  {{ nginx_events_multi_accept }};
  worker_connections            {{ (nginx_events_worker_connections/ansible_processor_vcpus)|int|abs }};
  use                           {{ nginx_events_use }};
}

http {

  include                       /etc/nginx/mime.types;

  underscores_in_headers        on;
  
{% if nginx_http_add_headers is iterable %}
# nginx_http_add_headers
  {% for header in nginx_http_add_headers %}
  add_header                    {{ header }};
  {% endfor %}

{% endif %}
{% if ansible_fqdn not in groups['live'] %}
# code injection for staging
  sub_filter                    '</head>' '<meta name="robots" content="noindex,nofollow" /></head>';
  sub_filter_once               on;

{% endif %}
  client_max_body_size          {{ nginx_http_client_max_body_size }};

  default_type                  "text/html; charset=utf-8";

  directio                      {{ nginx_http_directio }};

  gzip                          {{ nginx_http_gzip }};
  gzip_disable                  "{{ nginx_http_gzip_disable }}";
  gzip_types                    {{ nginx_http_gzip_types }};

  keepalive_timeout             {{ nginx_http_keepalive_timeout }};

  #log_format combined_custom   {{ nginx_http_access_log_format }};
  #access_log                   /var/log/nginx/access.log combined_custom;
  
  access_log                    /var/log/nginx/access.log;
  error_log                     /var/log/nginx/error.log;

  sendfile                      {{ nginx_http_sendfile }};

  server_names_hash_bucket_size {{ nginx_http_server_names_hash_bucket_size }};
  server_names_hash_max_size    {{ nginx_http_server_names_hash_max_size }};
  server_tokens                 {{ nginx_http_server_tokens }};

  tcp_nopush                    {{ nginx_http_tcp_nopush }};
  tcp_nodelay                   {{ nginx_http_tcp_nopush }};

  types_hash_max_size           {{ nginx_http_types_hash_max_size }};

  uwsgi_cache_background_update on;

  {% if nginx_http_directives is iterable -%}
  {% for key in nginx_http_directives %}
    {{ key }};
  {% endfor %}
  {% endif %}

  include                       /etc/nginx/conf.d/*.conf;
  include                       /etc/nginx/sites-enabled/*.servers;
}
