#!/bin/sh
# {{ ansible_managed }}

{% for directory in backup321_one_directories %}
# /usr/bin/nice -n20 {{ backup321_binary }} --job one --source {{ inventory_hostname_short }}:/{{ directory }}/
{% endfor %}

{% for directory in backup321_two_directories %}
/usr/bin/nice -n20 {{ backup321_binary }} --job two --source {{ inventory_hostname_short }}:/{{ directory }}/ {{ keep }}
{% endfor %}
