---
# {{ ansible_managed }}

{% for I in groups | sort %}
{% if I != "all" and I != "absent"  %}
{{ I }}:
  hosts:
{% for machine in groups[I] | sort %}
{% if machine not in groups.absent | default('true') %}
    {{ hostvars[machine].inventory_hostname }}:{% if hostvars[machine].comment is defined %} # {{ hostvars[machine].comment }}{% endif %}

{% endif %}
{% endfor %}
{% endif %}{% endfor %}