#!/bin/sh
# {{ ansible_managed }}

TARGET="{{ inventory_hostname_short }}.{{ datacenter }}"

# from global definitions
{% if backup_pre_global is defined %}
{% for command in backup_pre_global %}
/usr/bin/nice -n20 ssh {{ delorean_user }}@$TARGET 'sudo {{ command }}'
{% endfor %}
{% endif %}
{% if delorean_backup_directories_global is defined %}
{% for directory in delorean_backup_directories_global %}
/usr/bin/nice -n20 {{ delorean_binary }} {{ delorean_user }}@$TARGET:/{{ directory }}/ {{ delorean_base_dir }}/hosts/$TARGET {{ directory | replace('/', '_') }} rsyncsshsudo $1 $2 $3 $4 $5 $6
{% endfor %}
{% endif %}
{% if backup_post_global is defined %}
{% for command in backup_post_global %}
/usr/bin/nice -n20 ssh {{ delorean_user }}@$TARGET 'sudo {{ command }}'
{% endfor %}
{% endif %}


# from definitions per group
{% if backup_pre_group is defined %}
{% for command in backup_pre_group %}
/usr/bin/nice -n20 ssh {{ delorean_user }}@$TARGET 'sudo {{ command }}'
{% endfor %}
{% endif %}
{% if delorean_backup_directories_group is defined %}
{% for directory in delorean_backup_directories_group %}
/usr/bin/nice -n20 {{ delorean_binary }} {{ delorean_user }}@$TARGET:/{{ directory }}/ {{ delorean_base_dir }}/hosts/$TARGET {{ directory | replace('/', '_') }} rsyncsshsudo $1 $2 $3 $4 $5 $6
{% endfor %}
{% endif %}
{% if backup_post_group is defined %}
{% for command in backup_post_group %}
/usr/bin/nice -n20 ssh {{ delorean_user }}@$TARGET 'sudo {{ command }}'
{% endfor %}
{% endif %}


# from definitions per host
{% if backup_pre_host is defined %}
{% for command in backup_pre_host %}
/usr/bin/nice -n20 ssh {{ delorean_user }}@$TARGET 'sudo {{ command }}'
{% endfor %}
{% endif %}
{% if delorean_backup_directories_host is defined %}
{% for directory in delorean_backup_directories_host %}
/usr/bin/nice -n20 {{ delorean_binary }} {{ delorean_user }}@$TARGET:/{{ directory }}/ {{ delorean_base_dir }}/hosts/$TARGET {{ directory | replace('/', '_') }} rsyncsshsudo $1 $2 $3 $4 $5 $6
{% endfor %}
{% endif %}
{% if backup_post_host is defined %}
{% for command in backup_post_host %}
/usr/bin/nice -n20 ssh {{ delorean_user }}@$TARGET 'sudo {{ command }}'
{% endfor %}
{% endif %}

