---

global:
  scrape_interval: 1m

scrape_configs:

  - job_name: "vmagent"
    static_configs:
      - targets: ["localhost:8429"]
    relabel_configs:
      - target_label: instance
        replacement: {{ inventory_hostname_short }}
      - target_label: datacenter
        replacement: {{ datacenter }}

  - job_name: "node"
    static_configs:
      - targets: ["localhost:9100"]
    relabel_configs:
      - target_label: instance
        replacement: {{ inventory_hostname_short }}
      - target_label: datacenter
        replacement: {{ datacenter }}

{% if ansible_virtualization_role == "host" %}
  - job_name: "smartprom"
    static_configs:
      - targets: ["localhost:9902"]
    relabel_configs:
      - target_label: instance
        replacement: {{ inventory_hostname_short }}
      - target_label: datacenter
        replacement: {{ datacenter }}

{% endif %}